.pageHeader {
    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-around;
    margin-left: 350px;

}

.shop {
    border-style: double;
}