.pageHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.list {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-evenly;
     margin: auto; 

}

.shop {
    border-style: dotted;
    flex-basis: 30%;
    text-align:left;
     padding: .2em; 
     margin: auto;
}